
<div class="form-group">
  <label for="name">Name:</label>
  <input class="form-control" [(ngModel)]="selectedUser.name">
</div>

<div class="form-group">
  <label for="location">Location:</label>
  <br>
  <input class ="form-control" type="text" [(ngModel)]="selectedUser.location">
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <br>
  <input class ="form-control" type="text" [(ngModel)]="selectedUser.email">
</div>

<div class="form-group">
  <label for="image">Upload image:</label>
  <input class ="form-control" type="text" [(ngModel)]="selectedUser.image">
</div>

<button class = "btn btn-success" (click)="beginUpdatingUser(selectedUser)">Update</button>

<button class = "btn btn-danger" (click)="beginDeletingUser(selectedUser)">Delete</button>
