:host {
  border: 1px solid orange;
}

.side-bar-box {
  border: 1px solid green;
  .owner-box {
    outline: 5px solid red;
    img {
      max-width: 40%;
      outline: 10px solid black;
      margin-top: 10px;
      margin-left: 10px;
      margin: 10px 20px 10px 10px;
      float: left;
    }
    h3 {
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.social-media-box {
  border: 1px solid blue;
  margin-top: 20px;
  padding: 10px;
  a {
    font-size: 20px;
  }
}
