.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.flex-object {
  min-width: 200px;
  width: 31%;
  margin-top: 15px;
  display: inline-block;
  img {
    width: 100%;
  }
  margin: 1%;
}

.panel {
  box-shadow: 2px 2px 5px #dddddd;
}

.panel-body {
  max-height: 400px;
}

.panel-heading{
  padding: 0;
  overflow: hidden;
}

.space {
  height: 50px;
}

.project {
  h4 {
    font-weight: bold;
  }
  h4, img {
    cursor: pointer;
  }
  div {
    font-size: 14px;
  }
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  weight: 700;
  text-transform: uppercase;
}

h1, .h1{
  font-size: 14px!important;
}
