
<h3>Complete your profile</h3>
<div class="form-group">
  <div>
    <label for="name">Name:</label>
      <br>
      <input [(ngModel)]="currentUser.name">
  </div>

  <!-- <div>
    <label for="location">Location:</label>
      <br>
      <input class ="form-control" type="text" [(ngModel)]="selectedUser.location">
  </div>

  <div>
    <label for="email">Email:</label>
      <br>
      <input class ="form-control" type="text" [(ngModel)]="selectedUser.userEmail">
  </div>

  <div>
    <label for="image">Upload image:</label>
      <br>
      <input class ="form-control" type="text" [(ngModel)]="selectedUser.userImage">
  </div>
<br>
  <button class = "btn btn-success" (click)="beginUpdatingUser(selectedUser)">Save</button>
  <br> -->
</div>
