.mission-state {
  display: block;
  width: 80%;
  box-shadow: 1px 1px 1px 1px lightgray;
  height: auto;
  align-items: center;
}

.creat-proj {
  width: 60%;
  height: auto;
  box-shadow: 1px 2px 0px 1px purple;
  padding: 8px;
  align: right;
  margin-left: 25%;
  margin-top: 60px;
}

.space {
  height: 60px;
}

.space-sm {
  height: 20px;
}
