 <h1>Create New Project Proposal</h1>
 <div class="form-group">
<input class="form-control" type="text" name="title" placeholder="Title" #newTitle>
</div>
<div class="form-group">
<input class="form-control" type="text" name="image" placeholder="Featured Image" #newImage>
</div>
<div class="form-group">
<div [froalaEditor]='options' placeholder="Description" [(froalaModel)]="newDescription"></div>
</div>
<div class="form-group">
<input class="form-control" type="text" name="website" placeholder="Website URL" #newWebsite>
</div>
<app-social-media (addClicked)="setSocialMedia($event)" [socialMedia]="socialMedia"></app-social-media>
<app-contact (addClicked)="setContact($event)" [contacts]="contacts"></app-contact>
<button class="btn btn-info" (click)="createNewProject(newTitle.value, newImage.value, newDescription, newWebsite.value); newTitle.value=''; newImage.value='';newDescription='';newWebsite.value='';">Propose</button>
<div class="space"></div>
