<button class="btn btn-sm btn-info" (click)="showProjectEditForm = true; getSocialMedia(); getContacts();this.router.navigate(['projects/edit', this.projectId]);">Edit</button>
<div *ngIf='showProjectEditForm' class="edit-project">
<!-- showProjectEditForm = true; getSocialMedia(); getContacts() -->
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" [(ngModel)]="projectToEdit.title" placeholder={{projectToEdit.title}}>
  </div>
  <div class="form-group">
    <label >Image</label>
    <input class="form-control" [(ngModel)]="projectToEdit.image" placeholder={{projectToEdit.image}}>
  </div>
  <div class="form-group">
    <label >Description</label>
    <div [froalaEditor] [(froalaModel)]="projectToEdit.description" ></div>
  </div>
  <div class="form-group">
    <label >Website</label>
    <input class="form-control" [(ngModel)]="projectToEdit.website" placeholder={{projectToEdit.website}}>
  </div>
<app-social-media (addClicked)="setSocialMedia($event)" [projectToEdit] = "projectToEdit" [socialMedia] = "projectSocialMedia"></app-social-media>
<app-contact [contacts] = "contacts" (addClicked)="setContacts($event)"></app-contact>
  <button type="button" class="btn btn-success" (click)="submitEdit(projectToEdit)">Submit</button>
  <button type="button" name="button" class="btn btn-warning" (click)="reload()">Cancel</button>
</div>
