:host {
  // border: 1px solid red;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  weight: 700;
  text-transform: uppercase;
}

.container {
  margin-bottom: 50px;
}

.main-project {

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
