:host {
  border: 1px solid red;
}

.project-detail-box {
  border: 1px solid blue;
}

.main-project {
  border: 1px solid purple;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
