
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">StartPup</a>


    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" (click)= "showSignup=true">Signup</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="about">About</a></li>
      <a class="navbar-brand" routerLink="contact">Contact Us</a>

    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <div *ngIf="showSignup" id="signup">
    <app-signup (clickSender)="showSignup = false;"></app-signup>
  </div>
</div>
