
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">StartPup</a>


    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isLoggedIn"><a (click)= "showSignup=true">Signup</a></li>
      <li><a routerLink="new-project">New Project</a></li>
      <li><a routerLink="about">About</a></li>
      <li *ngIf="userReady">Welcome, {{afService.displayName}}</li>
      <li *ngIf="!isLoggedIn"><a (click)="showLogin = true">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>

    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <div *ngIf="showSignup" id="signup">
    <app-signup (clickSender)="showSignup = false;"></app-signup>
  </div>
  <div *ngIf="showLogin" id="login">
    <app-login (closeLogin)="showLogin = false;"></app-login>
  </div>
</div>

<footer class="footer">
  <!-- <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div> -->
</footer>
