
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">StartPup</a>


    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isLoggedIn"><a (click)= "showSignup=true">Signup</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="new-project">New Project</a></li>
      <li><a routerLink="about">About</a></li>
      <li *ngIf="showName()"><a (click)="navigateToProfile()"> Welcome, {{currentUser.displayName}}</a></li>
      <li *ngIf="!isLoggedIn"><a (click)="showLogin = true">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div *ngIf="showSignup" id="signup">
    <app-signup (clickSender)="showSignup = false;"></app-signup>
  </div>
  <div *ngIf="showLogin" id="login">
    <app-login (closeLogin)="showLogin = false;"></app-login>
  </div>
</div>

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2017, StartPup Ltd., All rights reserved
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	       <div class="design">
					 <a routerLink="contact">Contact Us!</a> |  <a target="_blank" routerLink="about">About StartPup</a>
				</div>
			</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
