<div class="hero">

</div>

<div class="container">

  <!-- user profile info section -->
  <div class="row">
    <div class="col-sm-3 pro-info">

      <img class="user-avatar" src="{{userToDisplay?.image}}" alt="{{userToDisplay?.name}}" />

      <h1 class="name">{{userToDisplay?.name}}</h1>
      <h4 class="location">{{userToDisplay?.location}}</h4>
      <h4 class="email"><em>{{userToDisplay?.email}}</em></h4>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      <ul class="project-list" *ngFor="let projectKey of userToDisplay?.projects">
        <app-user-project [projectKey]="projectKey"></app-user-project>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <button *ngIf="!showEditor" (click)="showEditUser()">Edit Profile</button>
      <app-edit-user *ngIf="showEditor" [selectedUser]="userToDisplay" (clickSender)="showEditor = false"></app-edit-user>
    </div>
  </div>

</div>
