.business-header {
    height: 450px;
    background: url('https://static.pexels.com/photos/29781/pexels-photo-29781.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.space {
  height: 200px;
}
